:root { 
--gray_900_14:#21212114; 
--teal_600:#1d8b7c; 
--gray_400:#adb2b1; 
--black_900_dd:#000000dd; 
--black_900:#000000; 
--blue_gray_50:#eaf0f7; 
--yellow_900:#fe7826; 
--blue_gray_800:#3d544d; 
--light_green_50:#eff8f0; 
--white_A700:#ffffff; 
--lime_100:#ecffb6; 
}